<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/main.css" rel = "stylesheet">
</head>
<body>
    <div th:replace="~{nav.html::navbar}"></div>
    <div class="detail">
        <h4>상세페이지</h4>
        <br>
        <img th:src = "${data.imageUrl}" alt="상품이미지">
        <br>
        <h4 th:text="${data.id}"></h4>
        <h4 th:text="${data.title}"></h4>
        <h4 th:text="${data.price + '원'}"></h4>
    </div>

    <form action="/comment" method="post">
        <p>댓글작성</p>
        <input name = "content">
        <input name = "parent" th:value=${"data.id"} style="display : none">
        <button type="submit">작성</button>
    </form>

    <div class="container">
        <form action="/order" method="post">
            <input name = "title" th:value="${data.title}" type="hidden">
            <input name = "price" th:value="${data.price}" type="hidden">
            <input name = "count" placeholder="count" style="text-aline: center">
            <button style="text-align : center">주문하기</button>
        </form>
    </div>
</body>
</html>