<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/detailDesign.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav.html::navbar}"></div>
<div class="container-wrapper">
    <div class="detail">
        <h4>상세페이지</h4>
        <br>
        <img th:src="${data.imageUrl}" alt="상품이미지">
        <br>
        <h4 th:text="${data.title}"></h4>
        <h4 th:text="${data.price + '원'}"></h4>
    </div>

    <!-- 가로로 배치된 섹션 -->
    <div class="flex-container">
        <!-- 댓글 작성 폼 -->
        <div class="comment-section">
            <p>댓글 작성</p>
            <form action="/comment" method="post">
                <textarea name="content" placeholder="댓글을 입력하세요"></textarea>
                <input name="parent" th:value="${data.id}" type="hidden">
                <button type="submit">작성</button>
            </form>
        </div>

        <!-- 댓글 목록 -->
        <div class="comment-list">
            <h4>댓글 목록</h4>
            <ul>
                <li th:each="comment : ${comments}">
                    <strong th:text="${comment.username}">사용자</strong>
                    <p th:text="${comment.comment}">댓글 내용</p>
                </li>
            </ul>
        </div>

        <!-- 주문 폼 -->
        <div class="order-container">
            <form action="/order" method="post">
                <input name="title" th:value="${data.title}" type="hidden">
                <input name="price" th:value="${data.price}" type="hidden">
                <input name="count" placeholder="count">
                <button type="submit">주문하기</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
