<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>수정 페이지</title>
    <link href="/css/editDesign.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav.html::navbar}"></div>

<!-- 제목 추가 -->

<form action="/edit" method="POST">
    <h2>상품 수정</h2>
    <input name="id" th:value="${data.id}" style="display:none">
    <input name="title" th:value="${data.title}">
    <input name="price" th:value="${data.price}">
    <button type="submit">수정</button>
</form>
</body>
</html>
