<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;타임리프 설치한 경우 error.html 만들어주면 에러 발생시 error.html을 자동으로 보여준다.&ndash;&gt;-->
<!--    <h4>에러 페이지</h4>-->

<!--&lt;!&ndash;타임리프 문법에서만 사용할 수 있는 th에러 문법&ndash;&gt;-->
<!--&lt;!&ndash;데이터만 보내는 REST API에서는 error페이지가 크게 의미가 없음&ndash;&gt;-->
<!--&lt;!&ndash;restAPI서버랑 통신을 할 때는 AJAX를 사용하는데 이럴 경우 서버가 html파일을 보내봤자 오픈해주지 않는다.&ndash;&gt;-->
<!--&lt;!&ndash;하여 RESTAPI 서버의 에러가 발생했을 때는 예외처리를 한다. &ndash;&gt;-->
<!--    <p th:text = "${status}"></p>-->
<!--    <p th:text = "${error}"></p>-->
<!--    <p th:text = "${path}"></p>-->
<!--    <p th:text = "${message}"></p>-->
<!--    <p th:text = "${exception}"></p>-->
<!--</body>-->
<!--</html>-->