<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link href="/css/registerDesign.css" rel="stylesheet">
</head>
<body>

<!-- 네비게이션 바 -->
<div th:replace="~{nav.html::navbar}"></div>

<!-- 회원가입 폼 컨테이너 -->
<div class="register-container">
    <!-- 회원가입 박스 -->
    <div class="register-box">
        <h2>회원가입</h2> <!-- 회원가입 제목 추가 -->
        <form action="/member" method="POST">
            <div class="input-group">
                <input name="username" placeholder="이름" required>
            </div>
            <div class="input-group">
                <input name="display_Name" placeholder="아이디" required>
            </div>
            <div class="input-group">
                <input name="password" type="password" placeholder="비밀번호" required>
            </div>
            <button type="submit" class="submit-btn">등록</button>
        </form>
    </div>
</div>
</body>
</html>
