<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sales List</title>
    <link href="/css/salesDesign.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav.html::navbar}"></div>
<div class="sales-container">
    <h2>주문 내역</h2>

    <!-- salesDtoList의 모든 항목을 반복하여 표시 -->
    <div th:each="sales : ${salesDtoList}" class="sales-item">
        <span><strong>상품명:</strong> [[${sales.itemName}]]</span>
        <span><strong>가격:</strong> [[${sales.price}]]원</span>
        <span><strong>주문자:</strong> [[${sales.username}]]</span>
        <span><strong>결제:</strong> [[${sales.created}]]</span>
    </div>
</div>
</body>
</html>
